.column-layout {
    display: flex;
    flex-direction: column;
}
.view-2-container {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 20px;
    height: 100%;
}
.row-layout {
    display: flex;
}
.group {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    gap: 20px;
    position: relative;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_1 {
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    position: relative;
    padding: 16px;
    min-width: 50px;
    min-height: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.group_2 {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}
.tree-grid {
    min-width: 600px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.pivot-grid {
    min-width: 600px;
    min-height: 300px;
}
.category-chart {
    min-width: 400px;
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
}
.pie-chart {
    min-width: 250px;
    min-height: 250px;
    flex-grow: 1;
    flex-basis: 0;
}
